<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(item){ %>
      <form action="/delete" method="post">
      <div class="item">
       <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange = "this.form.submit()">   <!--on Change inregistreaza cand este apasat checbox iar prin value luam valoarea id-ului pentru a il putea sterge -->
        <p><%=  item.name  %></p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>" >
      </form>
      <% }) %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%=listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
